.button {
  width: 100%;
  padding: 15px;
  margin: 2px;
  border: none;
  border-radius: 8px;
  background-color: #e9bebe;
  background-image: linear-gradient(to top, #f8f8f8, #fff);
  box-shadow: 0 2px 5px #b59999;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.button:hover {
  background-color: #484343;
  box-shadow: 0 5px 15px #423b3b;
}
